# Core & Data Handling
numpy
pandas
scipy
shapely

# Machine Learning
scikit-learn
xgboost
joblib

# Classical Optimization
ortools

# Performance
numba # For JIT compilation

# UI & Visualization
streamlit
plotly
opensimplex
tqdm

rtree