# Core & Data Handling
numpy
pandas
scipy
shapely  # For geometric operations (no-fly zones)

# Machine Learning
scikit-learn
xgboost

# Classical Optimization
ortools # Google's classical optimization suite

# UI & Visualization
streamlit
plotly
opensimplex